.elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-repeater-item-8d64be6 .swiper-slide-bg {
    background-color: #FFFFFF;
    background-image: url(../../../../banners/banner-1.jpg);
    background-size: cover;
}

.elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-repeater-item-8d64be6 .elementor-background-overlay {
    background-color: rgba(0,0,0,0.5);
}

.elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-repeater-item-7ee7b4d .swiper-slide-bg {
    background-color: #FFFFFF;
    background-image: url(../../../../banners/banner-2.jpg);
    background-size: cover;
}

.elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-repeater-item-7ee7b4d .elementor-background-overlay {
    background-color: rgba(0,0,0,0.5);
}

.elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-repeater-item-0d4e2df .swiper-slide-bg {
    background-color: #FFFFFF;
    background-image: url(../../../../banners/banner-3.jpg);
    background-size: cover;
}

.elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-repeater-item-0d4e2df .elementor-background-overlay {
    background-color: rgba(0,0,0,0.5);
}

.elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-repeater-item-0fcfd30 .swiper-slide-bg {
    background-color: #FFFFFF;
    background-image: url(../../../../banners/banner-2.jpg);
    background-size: cover;
}

.elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-repeater-item-0fcfd30 .elementor-background-overlay {
    background-color: rgba(0,0,0,0.5);
}

.elementor-1795 .elementor-element.elementor-element-af1f873 .swiper-slide {
    height: 550px;
    transition-duration: calc(5000ms*1.2);
}

.elementor-1795 .elementor-element.elementor-element-af1f873 .swiper-slide-contents {
    max-width: 900px;
}

.elementor-1795 .elementor-element.elementor-element-af1f873 .swiper-slide-inner {
    padding: 100px 80px 80px 80px;
    text-align: center;
}

.elementor-1795 .elementor-element.elementor-element-af1f873 .swiper-slide-inner .elementor-slide-heading:not(:last-child) {
    margin-bottom: 15px;
}

.elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-slide-heading {
    font-size: 70px;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 0px;
}

.elementor-1795 .elementor-element.elementor-element-af1f873 .swiper-slide-inner .elementor-slide-description:not(:last-child) {
    margin-bottom: 40px;
}

.elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-slide-description {
    font-size: 34px;
    line-height: 1.2em;
}

.elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-slide-button {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 0px;
    border-width: 0px;
    border-radius: 2px;
}

.elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-swiper-button {
    font-size: 32px;
}

.elementor-1795 .elementor-element.elementor-element-6bfae98a {
    --divider-border-style: slashes;
    --divider-color: rgba(0, 0, 0, 0.09);
    --divider-border-width: 3px;
    --divider-pattern-height: 10px;
    --divider-pattern-size: 20px;
}

.elementor-1795 .elementor-element.elementor-element-6bfae98a .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-1795 .elementor-element.elementor-element-6bfae98a .elementor-divider {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-1795 .elementor-element.elementor-element-6bfae98a > .elementor-widget-container {
    padding: 0px 0px 30px 0px;
}

.elementor-1795 .elementor-element.elementor-element-6dc051f {
    text-align: center;
}

.elementor-1795 .elementor-element.elementor-element-255e71dd > .elementor-container {
    max-width: 1260px;
}

.elementor-1795 .elementor-element.elementor-element-255e71dd {
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 0px 20px 0px 20px;
}

.elementor-1795 .elementor-element.elementor-element-22cc50f3 .elementor-flip-box__front {
    background-image: url("https://www.asrasteels.com/wp-content/uploads/2021/02/bread-baking-tray.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-1795 .elementor-element.elementor-element-22cc50f3 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: center;
}

.elementor-1795 .elementor-element.elementor-element-22cc50f3 .elementor-icon-wrapper {
    margin-bottom: 10px;
}

.elementor-1795 .elementor-element.elementor-element-22cc50f3 .elementor-icon {
    font-size: 48px;
}

.elementor-1795 .elementor-element.elementor-element-22cc50f3 .elementor-icon svg {
    width: 48px;
    transform: rotate(0deg);
}

.elementor-1795 .elementor-element.elementor-element-22cc50f3 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-1795 .elementor-element.elementor-element-22cc50f3 .elementor-flip-box__front .elementor-flip-box__layer__title {
    font-size: 24px;
    line-height: 30px;
}

.elementor-1795 .elementor-element.elementor-element-22cc50f3 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: left;
}

.elementor-1795 .elementor-element.elementor-element-22cc50f3 .elementor-flip-box__button {
    margin-left: 0;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 14px;
    background-color: rgba(0, 0, 0, 0.08);
    border-width: 0px;
    border-radius: 2px;
}

.elementor-1795 .elementor-element.elementor-element-22cc50f3 .elementor-flip-box__back .elementor-flip-box__layer__title {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 1.3em;
}

.elementor-1795 .elementor-element.elementor-element-22cc50f3 .elementor-flip-box__back .elementor-flip-box__layer__description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5em;
}

.elementor-1795 .elementor-element.elementor-element-22cc50f3 .elementor-flip-box__button:hover {
    background-color: #FFFFFF;
}

.elementor-1795 .elementor-element.elementor-element-6e3aece4 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1795 .elementor-element.elementor-element-6e3aece4 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-flip-box__front {
    background-color: #FFFFFF;
    background-image: url("https://www.asrasteels.com/wp-content/uploads/2021/02/Muffin_Tips.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
}

.elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-icon-wrapper {
    margin-bottom: 2px;
}

.elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-icon {
    font-size: 48px;
}

.elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-icon svg {
    width: 48px;
    transform: rotate(0deg);
}

.elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-flip-box__front .elementor-flip-box__layer__title {
    font-size: 24px;
    line-height: 30px;
}

.elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: left;
}

.elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-flip-box__button {
    margin-left: 0;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 14px;
    background-color: rgba(0, 0, 0, 0.08);
    border-width: 0px;
    border-radius: 2px;
}

.elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-flip-box__back .elementor-flip-box__layer__title {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 1.3em;
}

.elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-flip-box__back .elementor-flip-box__layer__description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5em;
}

.elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-flip-box__button:hover {
    background-color: #FFFFFF;
}

.elementor-1795 .elementor-element.elementor-element-32062fdc .elementor-flip-box__front {
    background-image: url("https://www.asrasteels.com/wp-content/uploads/2021/02/cake-baking-pans.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-1795 .elementor-element.elementor-element-32062fdc .elementor-flip-box__front .elementor-flip-box__layer__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
}

.elementor-1795 .elementor-element.elementor-element-32062fdc .elementor-icon-wrapper {
    margin-bottom: 10px;
}

.elementor-1795 .elementor-element.elementor-element-32062fdc .elementor-icon {
    font-size: 48px;
}

.elementor-1795 .elementor-element.elementor-element-32062fdc .elementor-icon svg {
    width: 48px;
    transform: rotate(0deg);
}

.elementor-1795 .elementor-element.elementor-element-32062fdc .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-1795 .elementor-element.elementor-element-32062fdc .elementor-flip-box__front .elementor-flip-box__layer__title {
    font-size: 24px;
    line-height: 30px;
}

.elementor-1795 .elementor-element.elementor-element-32062fdc .elementor-flip-box__back .elementor-flip-box__layer__overlay {
    text-align: left;
}

.elementor-1795 .elementor-element.elementor-element-32062fdc .elementor-flip-box__button {
    margin-left: 0;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 14px;
    background-color: rgba(0, 0, 0, 0.08);
    border-width: 0px;
    border-radius: 2px;
}

.elementor-1795 .elementor-element.elementor-element-32062fdc .elementor-flip-box__back .elementor-flip-box__layer__title {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 1.3em;
}

.elementor-1795 .elementor-element.elementor-element-32062fdc .elementor-flip-box__back .elementor-flip-box__layer__description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5em;
}

.elementor-1795 .elementor-element.elementor-element-32062fdc .elementor-flip-box__button:hover {
    background-color: #FFFFFF;
}

.elementor-1795 .elementor-element.elementor-element-76520899 {
    --divider-border-style: slashes;
    --divider-color: rgba(0, 0, 0, 0.09);
    --divider-border-width: 3px;
    --divider-pattern-height: 10px;
    --divider-pattern-size: 20px;
}

.elementor-1795 .elementor-element.elementor-element-76520899 .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-1795 .elementor-element.elementor-element-76520899 .elementor-divider {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.elementor-1795 .elementor-element.elementor-element-5b9a83c4 > .elementor-container {
    max-width: 1240px;
}

.elementor-1795 .elementor-element.elementor-element-5b9a83c4 > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1795 .elementor-element.elementor-element-5b9a83c4 {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0px 30px 0px 30px;
}

.elementor-1795 .elementor-element.elementor-element-53bdf2c9 > .elementor-element-populated {
    padding: 0px 60px 0px 0px;
}

.elementor-1795 .elementor-element.elementor-element-191e598d .elementor-heading-title {
    text-transform: uppercase;
    line-height: 1.2em;
}

.elementor-1795 .elementor-element.elementor-element-7d36e4b9 > .elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 30px;
}

.elementor-1795 .elementor-element.elementor-element-7d36e4b9 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1795 .elementor-element.elementor-element-53c063e .elementor-heading-title {
    font-weight: 400;
    line-height: 1.3em;
}

.elementor-1795 .elementor-element.elementor-element-6a77a852 {
    margin-top: 0px;
    margin-bottom: 30px;
}

.elementor-1795 .elementor-element.elementor-element-658eb36 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-1795 .elementor-element.elementor-element-56e430a {
    --divider-border-style: slashes;
    --divider-color: rgba(0, 0, 0, 0.09);
    --divider-border-width: 3px;
    --divider-pattern-height: 10px;
    --divider-pattern-size: 20px;
}

.elementor-1795 .elementor-element.elementor-element-56e430a .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-1795 .elementor-element.elementor-element-56e430a .elementor-divider {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.elementor-1795 .elementor-element.elementor-element-b4f22e8 {
    margin-top: 30px;
    margin-bottom: 0px;
}

.elementor-1795 .elementor-element.elementor-element-3b57203 .elementor-heading-title {
    line-height: 1.2em;
}

.elementor-1795 .elementor-element.elementor-element-3b57203 > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-1795 .elementor-element.elementor-element-6b32e47 .elementor-posts-container .elementor-post__thumbnail {
    padding-bottom: calc( 1 * 100% );
}

.elementor-1795 .elementor-element.elementor-element-6b32e47:after {
    content: "1";
}

.elementor-1795 .elementor-element.elementor-element-6b32e47 .elementor-post__thumbnail__link {
    width: 74px;
}

.elementor-1795 .elementor-element.elementor-element-6b32e47 .elementor-post__meta-data span + span:before {
    content: "/";
}

.elementor-1795 .elementor-element.elementor-element-6b32e47 {
    --grid-row-gap: 20px;
}

.elementor-1795 .elementor-element.elementor-element-6b32e47 .elementor-post {
    border-radius: 0px;
    border-color: rgba(2, 1, 1, 0.09);
}

.elementor-1795 .elementor-element.elementor-element-6b32e47.elementor-posts--thumbnail-left .elementor-post__thumbnail__link {
    margin-right: 20px;
}

.elementor-1795 .elementor-element.elementor-element-6b32e47.elementor-posts--thumbnail-right .elementor-post__thumbnail__link {
    margin-left: 20px;
}

.elementor-1795 .elementor-element.elementor-element-6b32e47.elementor-posts--thumbnail-top .elementor-post__thumbnail__link {
    margin-bottom: 20px;
}

.elementor-1795 .elementor-element.elementor-element-6b32e47 .elementor-post__title, .elementor-1795 .elementor-element.elementor-element-6b32e47 .elementor-post__title a {
    font-size: 18px;
    line-height: 1.3em;
}

.elementor-1795 .elementor-element.elementor-element-6b32e47 .elementor-post__title {
    margin-bottom: 5px;
}

.elementor-1795 .elementor-element.elementor-element-6b32e47 .elementor-post__meta-data {
    font-size: 14px;
    margin-bottom: 0px;
}

.elementor-1795 .elementor-element.elementor-element-8f74d1a .elementor-button .elementor-align-icon-right {
    margin-left: 10px;
}

.elementor-1795 .elementor-element.elementor-element-8f74d1a .elementor-button .elementor-align-icon-left {
    margin-right: 10px;
}

.elementor-1795 .elementor-element.elementor-element-8f74d1a .elementor-button, .elementor-1795 .elementor-element.elementor-element-8f74d1a .elementor-button .elementor-button-icon {
    font-size: 11px;
}

.elementor-1795 .elementor-element.elementor-element-8f74d1a .elementor-button {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
    border-radius: 2px 2px 2px 2px;
    padding: 9px 12px 8px 14px;
}

.elementor-1795 .elementor-element.elementor-element-8f74d1a > .elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-1795 .elementor-element.elementor-element-ae2b5a2 .elementor-heading-title {
    line-height: 1.2em;
}

.elementor-1795 .elementor-element.elementor-element-ae2b5a2 > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-1795 .elementor-element.elementor-element-6092bfc .elementor-heading-title {
    line-height: 1.2em;
}

.elementor-1795 .elementor-element.elementor-element-6092bfc > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-1795 .elementor-element.elementor-element-166bb6b > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1795 .elementor-element.elementor-element-166bb6b:not(.elementor-motion-effects-element-type-background), .elementor-1795 .elementor-element.elementor-element-166bb6b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F5F5F5;
}

.elementor-1795 .elementor-element.elementor-element-166bb6b > .elementor-background-overlay {
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1795 .elementor-element.elementor-element-166bb6b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 20px;
}

.elementor-1795 .elementor-element.elementor-element-06d06d2 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1795 .elementor-element.elementor-element-06d06d2 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1795 .elementor-element.elementor-element-8022642 > .elementor-element-populated {
    padding: 10px 10px 0px 10px;
}

.elementor-1795 .elementor-element.elementor-element-1334812 {
    text-align: left;
}

.elementor-1795 .elementor-element.elementor-element-1334812 .elementor-heading-title {
    line-height: 1.3em;
}

.elementor-1795 .elementor-element.elementor-element-1334812 > .elementor-widget-container {
    margin: 0px 0px 05px 0px;
}

.elementor-1795 .elementor-element.elementor-element-2818618 {
    font-size: 14px;
    line-height: 20px;
}

.elementor-1795 .elementor-element.elementor-element-101f36f > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1795 .elementor-element.elementor-element-101f36f:not(.elementor-motion-effects-element-type-background), .elementor-1795 .elementor-element.elementor-element-101f36f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F5F5F5;
}

.elementor-1795 .elementor-element.elementor-element-101f36f > .elementor-background-overlay {
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1795 .elementor-element.elementor-element-101f36f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 20px;
}

.elementor-1795 .elementor-element.elementor-element-cb1bbe8 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1795 .elementor-element.elementor-element-cb1bbe8 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1795 .elementor-element.elementor-element-8e3eae8 > .elementor-element-populated {
    padding: 10px 10px 0px 10px;
}

.elementor-1795 .elementor-element.elementor-element-fdb23ae {
    text-align: left;
}

.elementor-1795 .elementor-element.elementor-element-fdb23ae .elementor-heading-title {
    line-height: 1.3em;
}

.elementor-1795 .elementor-element.elementor-element-fdb23ae > .elementor-widget-container {
    margin: 0px 0px 05px 0px;
}

.elementor-1795 .elementor-element.elementor-element-f202290 {
    font-size: 14px;
    line-height: 20px;
}

.elementor-1795 .elementor-element.elementor-element-39d016f > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1795 .elementor-element.elementor-element-39d016f:not(.elementor-motion-effects-element-type-background), .elementor-1795 .elementor-element.elementor-element-39d016f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F5F5F5;
}

.elementor-1795 .elementor-element.elementor-element-39d016f > .elementor-background-overlay {
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1795 .elementor-element.elementor-element-39d016f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 20px;
}

.elementor-1795 .elementor-element.elementor-element-6482f7d > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1795 .elementor-element.elementor-element-6482f7d > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1795 .elementor-element.elementor-element-692a018 > .elementor-element-populated {
    padding: 10px 10px 0px 10px;
}

.elementor-1795 .elementor-element.elementor-element-9548c86 {
    text-align: left;
}

.elementor-1795 .elementor-element.elementor-element-9548c86 .elementor-heading-title {
    line-height: 1.3em;
}

.elementor-1795 .elementor-element.elementor-element-9548c86 > .elementor-widget-container {
    margin: 0px 0px 05px 0px;
}

.elementor-1795 .elementor-element.elementor-element-d255aa5 {
    font-size: 14px;
    line-height: 20px;
}

@media(max-width: 1024px) {
    .elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-slide-heading {
        font-size:50px;
    }

    .elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-slide-description {
        font-size: 24px;
    }

    .elementor-1795 .elementor-element.elementor-element-22cc50f3 .elementor-flip-box__front .elementor-flip-box__layer__title {
        font-size: 18px;
        line-height: 24px;
    }

    .elementor-1795 .elementor-element.elementor-element-22cc50f3 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
        padding: 20px 20px 20px 20px;
    }

    .elementor-1795 .elementor-element.elementor-element-22cc50f3 .elementor-flip-box__back .elementor-flip-box__layer__title {
        font-size: 18px;
        line-height: 24px;
    }

    .elementor-1795 .elementor-element.elementor-element-22cc50f3 .elementor-flip-box__back .elementor-flip-box__layer__description {
        font-size: 14px;
        line-height: 20px;
    }

    .elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-flip-box__front .elementor-flip-box__layer__overlay {
        padding: 20px 20px 20px 20px;
    }

    .elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-flip-box__front .elementor-flip-box__layer__title {
        font-size: 18px;
        line-height: 24px;
    }

    .elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-flip-box__back .elementor-flip-box__layer__overlay {
        padding: 20px 20px 20px 20px;
    }

    .elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-flip-box__back .elementor-flip-box__layer__title {
        font-size: 18px;
        line-height: 24px;
    }

    .elementor-1795 .elementor-element.elementor-element-2510be5 .elementor-flip-box__back .elementor-flip-box__layer__description {
        font-size: 14px;
        line-height: 22px;
    }

    .elementor-1795 .elementor-element.elementor-element-32062fdc .elementor-flip-box__front .elementor-flip-box__layer__title {
        font-size: 18px;
        line-height: 24px;
    }

    .elementor-1795 .elementor-element.elementor-element-32062fdc .elementor-flip-box__back .elementor-flip-box__layer__overlay {
        padding: 20px 20px 20px 20px;
    }

    .elementor-1795 .elementor-element.elementor-element-32062fdc .elementor-flip-box__back .elementor-flip-box__layer__title {
        font-size: 18px;
        line-height: 24px;
    }

    .elementor-1795 .elementor-element.elementor-element-32062fdc .elementor-flip-box__back .elementor-flip-box__layer__description {
        font-size: 14px;
        line-height: 22px;
    }

    .elementor-1795 .elementor-element.elementor-element-53bdf2c9 > .elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }
}

@media(max-width: 777px) {
    .elementor-1795 .elementor-element.elementor-element-af1f873 .swiper-slide-inner {
        padding:0px 40px 0px 40px;
    }

    .elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-slide-heading {
        font-size: 30px;
    }

    .elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-slide-description {
        font-size: 20px;
        line-height: 26px;
    }

    .elementor-1795 .elementor-element.elementor-element-af1f873 .elementor-slide-button {
        font-size: 14px;
    }

    .elementor-1795 .elementor-element.elementor-element-191e598d .elementor-heading-title {
        font-size: 28px;
        line-height: 34px;
    }

    .elementor-1795 .elementor-element.elementor-element-53c063e .elementor-heading-title {
        font-size: 20px;
    }

    .elementor-1795 .elementor-element.elementor-element-3b57203 .elementor-heading-title {
        font-size: 28px;
        line-height: 34px;
    }

    .elementor-1795 .elementor-element.elementor-element-6b32e47 .elementor-posts-container .elementor-post__thumbnail {
        padding-bottom: calc( 1 * 100% );
    }

    .elementor-1795 .elementor-element.elementor-element-6b32e47:after {
        content: "1";
    }

    .elementor-1795 .elementor-element.elementor-element-6b32e47 .elementor-post__thumbnail__link {
        width: 50px;
    }

    .elementor-1795 .elementor-element.elementor-element-6b32e47 .elementor-post__title, .elementor-1795 .elementor-element.elementor-element-6b32e47 .elementor-post__title a {
        font-size: 16px;
        line-height: 22px;
    }

    .elementor-1795 .elementor-element.elementor-element-ae2b5a2 .elementor-heading-title {
        font-size: 28px;
        line-height: 34px;
    }

    .elementor-1795 .elementor-element.elementor-element-6092bfc .elementor-heading-title {
        font-size: 28px;
        line-height: 34px;
    }

    .elementor-1795 .elementor-element.elementor-element-1334812 {
        text-align: center;
    }

    .elementor-1795 .elementor-element.elementor-element-2818618 {
        text-align: center;
    }

    .elementor-1795 .elementor-element.elementor-element-fdb23ae {
        text-align: center;
    }

    .elementor-1795 .elementor-element.elementor-element-f202290 {
        text-align: center;
    }

    .elementor-1795 .elementor-element.elementor-element-9548c86 {
        text-align: center;
    }

    .elementor-1795 .elementor-element.elementor-element-d255aa5 {
        text-align: center;
    }
}

@media(min-width: 778px) {
    .elementor-1795 .elementor-element.elementor-element-53bdf2c9 {
        width:50%;
    }

    .elementor-1795 .elementor-element.elementor-element-7d36e4b9 {
        width: 50%;
    }

    .elementor-1795 .elementor-element.elementor-element-06d06d2 {
        width: 45%;
    }

    .elementor-1795 .elementor-element.elementor-element-8022642 {
        width: 54.953%;
    }

    .elementor-1795 .elementor-element.elementor-element-cb1bbe8 {
        width: 45%;
    }

    .elementor-1795 .elementor-element.elementor-element-8e3eae8 {
        width: 54.953%;
    }

    .elementor-1795 .elementor-element.elementor-element-6482f7d {
        width: 45%;
    }

    .elementor-1795 .elementor-element.elementor-element-692a018 {
        width: 54.953%;
    }
}

@media(max-width: 1024px) and (min-width:778px) {
    .elementor-1795 .elementor-element.elementor-element-53bdf2c9 {
        width:100%;
    }

    .elementor-1795 .elementor-element.elementor-element-7d36e4b9 {
        width: 100%;
    }

    .elementor-1795 .elementor-element.elementor-element-9f3db79 {
        width: 100%;
    }

    .elementor-1795 .elementor-element.elementor-element-e634390 {
        width: 100%;
    }

    .elementor-1795 .elementor-element.elementor-element-710c6a1 {
        width: 100%;
    }

    .elementor-1795 .elementor-element.elementor-element-06d06d2 {
        width: 33%;
    }

    .elementor-1795 .elementor-element.elementor-element-cb1bbe8 {
        width: 33%;
    }

    .elementor-1795 .elementor-element.elementor-element-6482f7d {
        width: 33%;
    }
}
